<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Modificar Nota</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input placeholder="Enter Title" [(ngModel)]="nota.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea rows="6" [(ngModel)]="nota.content" placeholder="Click para mas info..."></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button color="primary" expand="full" (click)=" ModificarNote()">Modificar</ion-button>
</ion-content>
